:root {
  --color-primary: #D5CABD;
  --secondary-color: #F8E4DD;
  --tertiary-color: #D5BBBA;
  --accent-color: #4E8397;
}

body {
  margin: 0 auto;
  background-image: url(https://images.unsplash.com/photo-1590452522687-e32391adaeb2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1550&q=90);
  backdrop-filter: blur(2px);
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 100vh;
  padding-bottom: 2.5rem;
}

i {
  color: var(--accent-color);
  padding: 1rem;
  font-size: 2.1em;
  z-index: 1;
}

.hidden--mobile {
  display: none !important;
}

nav {
  background-color: var(--color-primary);
  opacity: 0.6;
  display: flex;
  align-items: center;
}

nav > i {
  padding: 1rem;
  font-size: 2em;
}

nav > ul {
  display: flex;
  align-items: center;
  padding: 2px;
}

nav > ul > li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 20px;
  font-size: 15px;
  border: 2px var(--accent-color) solid;
  border-radius: 15px;
}

nav > ul > li > a {
  font-weight: bold;
  color: var(--accent-color);
  border: 2px;
}

nav input {
  width: 175px;
  height: 30px;
  font-size: 12px;
  border-radius: 10px;
}

nav button {
  width: 60px;
  height: 30px;
  border-radius: 10px;
}

.logo {
  width: 10%;
  height: 10%;
}

#about {
  margin: 0 auto;
  width: 70%;
  font-size: 15px;
}

.animate__animated {
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce;
  animation-duration: 2s;
}

.section > p {
  background: orange;
  display: flex;
  justify-content: center;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
  align-content: space-around;
  margin: 15px;
  overflow-y: auto;
}

.card {
  width: 30rem;
  height: 50rem;
  margin: 10px;
  margin-bottom: 1px;
  /* display: flex; */
  /* flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around; */
}

.card-bio {
  background-color: var(--accent-color);
  height: 200px;
  padding: 3rem 3rem 8rem 3rem;
  border-radius: 0.5rem 0.5rem 0 0;
  position: relative;
  z-index: 100;
}

.img-wrapper {
  width: 9rem;
  height: 9rem;
  margin-right: 3rem;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.person-info {
  width: 60%;
  color: var(--secondary-color);
  text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
}

.person-info h3 {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}

/* may or may not use p tag */
.person-info p {
  font-size: 1.8rem;
}

.card-btn {
  position: absolute;
  bottom: -2.5rem;
  right: 10rem;
  width: 20rem;
  height: 6rem;
  color: var(--tertiary-color);
  border-radius: 5rem;
  border: none;
  font-family: sans-serif;
  font-size: 2.4rem;
  text-transform: uppercase;
  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.3);
  outline: none;
  cursor: pointer;
  transition: all 0.5s;
}

.change .card-btn {
  width: 6rem;
  right: 3rem;
  bottom: -3rem;
  border-radius: 50%;
}

.card-btn-contact {
  transition: all 0.5s 0.1s;
}

.card-btn-contact,
.card-btn i {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.change .card-btn-contact {
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s;
}

.card-btn i {
  opacity: 0;
  visibility: hidden;
}

.change .card-btn i {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s;
}

.card-contact {
  background-color: var(--secondary-color);
  color: white;
  padding: 1.5rem 2rem;
  border-radius: 0 0 0.5rem 0.5rem;
  /* transform: translateY(-100%);
  transition: all 0.8s; */
}

.change .card-contact {
  transform: translateY(0);
}

.card-contact h4 {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
  transform: scale(0);
  transform-origin: left;
  transition: all 0.5s;
}

.contact-details h4 {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
}

.change .card-contact h4 {
  transform: scale(1);
}

.card-content {
  background-color: orchid;
  padding: 1.5rem;
  margin: 2rem 0;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-wrapper {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.contact-details p {
  font-size: 1.4rem;
  color: gray;
  letter-spacing: 0.1rem;
}

.login-page {
  width: 360px;
  padding: 10% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: var(--tertiary-color);
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}

.form input {
  outline: 1px;
  background: #F8E4DD;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  text-transform: uppercase;
  outline: 0;
  background: var(--accent-color);
  width: 100%;
  border: 0;
  padding: 15px;
  font-size: 14px;
  cursor: pointer;
}

.form button:hover,
.form button:active {
  background: #43A047;
}

.form .message {
  margin: 15px 0 0;
  color: aliceblue;
  font-size: 12px;
}

.form .message a {
  color: var(--accent-color);
  text-decoration: none;
}

.form .register {
  display: none;
}

.stars-outer {
  position: relative;
  display: inline-block;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font-Awesome 5 free";
  font-weight: 900;
  color:#ccc;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: 'Font Awesome 5 free';
  font-weight: 900;
  color:#f8ce0b;
}

.table {
  font-size: 20px;
  line-height: 20px;
  padding: 3px;
  margin: 5px;
}

.tr {
  background-color: var(--secondary-color);
  opacity: 75%;
}

.form-control {
  font-size: 16px;
  line-height: 18px;
}

textarea {
  border: 1px solid;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: var(--color-primary);
  opacity: 0.6;
  margin-left: 3px;
  font-size: 15px;
}
