body {
  /* font-family: 'Actor', sans-serif; */
  background: tan;
}

header {
  background: olive;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
}

nav > i {
  padding: 1rem;
  font-size: 1.5em;
}

nav > ul {
  display: flex;
  align-items: center;
  padding: 0 0;
}

nav > ul > li {
  display: flex;
  justify-content: space-between;
  text-decoration: dashed;
  padding: 8px 8px;
  font-size: 1.2em;
}

section > p {
  background: orange;
  display: flex;
  justify-content: center;
}
